<div class="container my-4">
  <h2 class="mb-4 text-dark">Liste des Documents</h2>
  <div class="d-flex gap-3 mb-4">
    <button class="btn" [ngClass]="viewMode === 'MY' ? 'btn-primary' : 'btn-outline-primary'"
      (click)="switchView('MY')">
      📄 Mes Documents
    </button>

    <button class="btn" [ngClass]="viewMode === 'SHARED' ? 'btn-success' : 'btn-outline-success'"
      (click)="switchView('SHARED')">
      👥 Documents Partagés
    </button>
  </div>
  @if(viewMode==='MY'){
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-info" routerLink="/addDocument">
      Ajouter Document
    </button>
    <input type="text" class="form-control w-25" placeholder="🔍 Rechercher document..." [(ngModel)]="searchText"
      (input)="onSearch()" />
  </div>}

  <table class="table">
    <thead class="text-center text-dark">
      <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Visibilité</th>
        @if(viewMode==='MY' || isAdmin()){
        <th>Utilisateurs autorisés</th>
        }
        <th>Date</th>
        <th>Owner</th>
        <th style="width: 170px;">Actions</th>
      </tr>
    </thead>

    <tbody class="text-center">
      @for (doc of filteredDocuments; track doc.id) {

      <tr>
        <td>{{ doc.title }}</td>
        <td>{{ doc.description }}</td>
        <td class="text-center">
          <span class="badge" [ngClass]="{'bg-primary': doc.visibility === 'PUBLIC','bg-info text-dark': doc.visibility === 'RESTREINT','bg-danger':doc.visibility==='PRIVE',
            }">
            {{ doc.visibility }}
          </span>
        </td>
        @if ( (isAdmin() || viewMode==='MY' )) {
        <td>
          @if (doc.visibility === 'RESTREINT') {
          {{ getUserNames(doc.usersHasAccess) }}
          } @else {
          <span class="text-muted">-</span>
          }
        </td>}
        <td class="text-center">
          {{ doc.date | date:'dd/MM/yyyy HH:mm' }}

        </td>
        <td class="text-center">
          {{ doc.owner.email }}
        </td>
        <td class="text-center d-flex justify-content-center gap-2">
          @if(isAdmin() || isOwner(doc) ){
          <button class="btn action-btn" [routerLink]="['/updateDocument',doc.id]">
            <mat-icon style="color: rgb(120, 95, 95);">edit</mat-icon>
          </button>
          <button class="btn action-btn" (click)="deleteDocument(doc.id)">
            <mat-icon style="color: red;">delete</mat-icon>
          </button>}
          <button class="btn action-btn" (click)="downloadFile(doc.file, doc.title, doc.type)">
            <mat-icon style="color: rgb(89, 139, 139);">download</mat-icon>
          </button>
          <button class="btn action-btn" (click)="openFileInNewTab(doc.file, doc.type)">
            <mat-icon style="color: rgb(89, 139, 139);">visibility</mat-icon>
          </button>

        </td>
      </tr>
      }
      @if (filteredDocuments.length === 0) {
      <tr>
        <td colspan="8" class="text-center text-muted py-3">
          Aucun document trouvé
        </td>
      </tr>}


    </tbody>
  </table>
</div>